/* Global resets and customizations */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}


.chat-room-list {
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

.chat-room-list h4 {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

/* Message box styling */
.chat-box {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.messages div {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
}

.messages div:nth-child(odd) {
  background-color: #f1f1f1;
}

.messages div:nth-child(even) {
  background-color: #e9ecef;
}

/* Input group styling for chat */
.input-group {
  padding: 10px;
  background-color: #ffffff;
}

.input-group input {
  border-radius: 0;
}

.input-group .btn {
  border-radius: 0;
}
